VITE_SUPABASE_URL=https://mpohvxobtbuuxzhxrbpy.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_APP_URL=https://fiamma-books-staging.netlify.app
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID=
SUPABASE_SERVICE_ROLE_KEY=
KWALIA_SMTP_USER=
KWALIA_SMTP_PASSWORD=
KWALIA_SMTP_HOST=
KWALIA_SMTP_PORT=
FIAMMA_NEW_READER_ALERT_TO=0@kwalia.ai
